.container2 {
    width: 100%;
    min-height: 100vh;
    padding: 3em;
    position: relative;
    background: #cccccc;

   
}
.container2-active {
    padding: 0;
}

.head {
    text-align: left;
    font-family: pop;
}
.head-active {
    display: none;
}
.img-cont,
.img-cont1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    overflow: hidden;
}
.img-cont1-active,
.img-cont-active {
    display: none;
    margin-top: 0;
    gap: 0;
    
}


 .cont1,
 .cont2,
 .cont3,
 .cont4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:  1 50%;
    transition: .5s ease-in;
    overflow: hidden;   
 }

.cont1:hover .img1{
    transform: scale(1.2);
}
.cont2:hover .img2{
    transform: scale(1.2);
}
.cont3:hover .img3{
    transform: scale(1.2);
}
.cont4:hover .img4{
    transform: scale(1.2);
}

.cont-active:hover .img-active {
    transform: none;
}

 
 .img1,
 .img2,
 .img3,
 .img4 {
    width: 300px;
    height: 400px;
    transition: .5s ease-out;
    overflow: hidden;
 }

.fig1,
.fig2,
.fig3,
.fig4{
    position: relative;
    float: right;
    width: 50%;
    height: 400px;
    background: var(--light);
    padding: 20px;
}


.line {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--dark); 
}

.text{
    margin-top: 20px;
    opacity: 0;
    transition: .5s ease-in;
    font-family: pop;
    font-size: .8em;
    text-align:left;
    font-weight: bolder;

}
.texts {
    display: none;
    margin-top: 20px;
    transition: .5s ease-in;
    font-family: pop;
    font-size: 1em;
    text-align:left;
    font-weight: bolder;
}
.texts-active {
    display: contents;
}

.text:hover {
    opacity: 1;
}
.feat {
    font-family: pop;
    font-size: .6em;
    text-transform: uppercase;
    color: var(--dark);
    letter-spacing: 5px;
    font-weight: bolder;
    text-align: left;
    margin-top: auto 0 ;
    
}
.heading {
    color: var(--dark);
    font-family: pop;
    text-align: left;
    
}

.btn {
    background: transparent;
    color: black;
    font-family: pop;
    font-size: .8em;
    border: none;
    font-weight: bolder;
    margin-top: 30px ;
    text-decoration: underline;
    letter-spacing: 2px;
    text-transform: uppercase;
}

 span svg {
    float: right;
    bottom: 14px;
}

.fig-active {
    position: relative;
    float: right;
    width: 30vw;
    height: 100vh;
    background: var(--light);
    padding: 20px;
    
}
.img-active {
    width: 70vw;
    height: 100vh;
    transition: .5s ease-out;
    overflow: hidden;
}

.text-active {
    margin-top: 20px;
    font-family: pop;
    font-size: .8em;
    text-align:left;
    font-weight: bolder;
    opacity: 1;
}
.cont-active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:  1 50%;
    transition: .5s ease-in;
    overflow: visible;

 }

 @media screen and (max-width: 768px){
    .img-cont,
    .img-cont1 {
        flex-direction: column;
    }
    .container2 {
        padding: .9em;
    }
   .heading {
    font-size: 1.5em;
   }
   .feat {
    font-size: .5em
   }
    .text {
        font-size: .7em;
    }
    .btn {
        display: none;
    }

    
    
 }

